* { margin:0; padding:0; box-sizing:border-box; }
body {
	font-family: 'roboto', sans-serif;
	font-weight: 300;
	font-size:16px;
	line-height: 1.62em;
}
header {
	background:url("../images/MM_Landing.jpg") no-repeat;
	background-size:cover;
	height:100vh;
}
nav {
	background:rgba(255,255,255,.8);
	font-family: 'roboto slab', serif;
	font-size: 14px;
	padding:15px 0;
	width:100%;
	position:fixed;
	top:0;
	left:0;
}
a {
	text-decoration:none;
	padding: 20 35 0 35;
	color: #231F20;
}
nav a {
	float: right;
	text-decoration: none;
	padding: 20 35 0 35;
	color: #231F20;
}
.logo {
	margin-left: 100px;
}
h1 {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	font-size: 30px;
	line-height: 15px;
	text-align: center;
}
p {
	text-align: center;
	margin: 20px auto;
	width: 600px;
}
h2 {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	font-size: 20px;
	padding-left: 100;
}
.AboutMe {
	margin: 50px auto; 
}
.Skillset {
	margin: 80px auto;
	width:1200px;
}
.triple	{
	height: 150px;
	display: inline-block;
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
}
.triple li {
	font-family: 'roboto', sans-serif;
	font-weight: 300;
	font-size:16px;
	line-height: 1.62em;
	float: left;
	width:100%;
}
#WorkSpacing {
	margin: 0 0 30 0;
}
.WorkThird a {
	background-color: #333;
	width: 33.33%;
	float: left;
	text-align: center;
	padding: 10 0 0 0;
}
.WorkTitle {
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	font-size:	20px;
	color: white;
	padding: 10 0 0 0;
}
.WorkDesc {
	font-family: 'Roboto Slab', sans-serif;
	font-weight: 300;
	font-size: 15px;
	color: #86754D;
}
.WorkImg {
	padding: none;
	width: 100%;
	margin: 20 0 0 0;
}
#MoreWork a{
	background-color: 333333;
	height: 70px;
	width: 100%;
	text-align: center;
}
#ProjectIntro{
	margin: 50 auto;
}
.ProjectDesc{
	font-size: 23px;
	font-weight: 100;
	line-height: 1.7;
	color: #86754D;
}
.ProjectImgSpace{
	margin: 9 0 0 0;
}
.PAccents {
	font-family: 'roboto slab', san-serif;
	font-weight: 400;
}
.Contact h1 {
	margin: 50px auto;
}
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
