* { margin:0; padding:0; box-sizing:border-box; }

nav {
	font-family: 'roboto slab', serif;
	font-size: 14px;
	margin: 15 auto;
}
a {
	float: right;
	text-decoration: none;
	padding: 20 35 0 35;
	color: #231F20;
}
header {
	background-size: cover;
}
.logo {
	margin-left: 100px;
}
h1 {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	font-size: 30px;
	line-height: 15px;
	text-align: center;
}
p {
	font-family: 'roboto', sans-serif;
	font-weight: 300;
	font-size:16px;
	line-height: 1.62em;
	text-align: center;
	margin: 20px auto;
	width: 600px;
}
.AboutMe {
	margin: 50px auto; 
}
.WorkThird a {
	background-color: 333333;
	width: 33.33%;
	height: 74px;
	float: left;
	text-align: center;
	padding: 10 0 0 0;
	margin: 30 0 0 0;
}
.WorkTitle {
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	font-size:	20px;
	color: white;
	padding: 10 0 0 0;
}
.WorkDesc {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-style: italic;
	font-size: 14px;
	color: #86754D;
}
.WorkImg {
	padding: none;
	width: 100%;
	margin: 20 0 0 0;
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
