* { margin:0; padding:0; box-sizing:border-box; }
body {
	font-family: 'roboto', sans-serif;
	font-weight: 300;
	font-size:16px;
	line-height: 1.62em;
}
header.hero {
	background:url("../images/MM_Landing_A.jpg") no-repeat center;
	background-size:cover;
	height:100vh;
	width: 100%;
	margin-top: 50px;
}
nav {
	background:rgba(255,255,255,1);
	width:100%;
	position:fixed;
	padding:1em 0;
	top:0;
	left:0;
	box-shadow: 0px 2px 5px #404041;
}
a {
	text-decoration: none;
	color: #231F20;
}
nav a {
	font-family: 'roboto slab', serif;
	font-size: .9em;
	float: right;
	text-decoration: none;
	padding: 1.25em 2.2em 0 2.2em;
	color: #231F20;
}
nav a:first-child {
	float: left;
	padding: 0;
}
.NavLink {
	margin-right: 40px;
}
.logo {
	margin-left: 50px;
	max-width: 80%;
}
h1 {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	font-size: 2em;
	line-height: .6em;
	text-align: center;
}
p {
	text-align: center;
	margin: 20px auto;
	width: 600px;
}
h2 {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	font-size: 1.25em;
}
.AboutMe {
	padding-top: 150px; 
}
.Work {
	padding-top: 150px; 
}
.Skillset {
	margin:100px auto;
	width:1200px;
	padding: 0 0 0 80;
}
.triple	{
	height: 180px;
	display: inline-block;
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
}
.triple li {
	font-family: 'roboto', sans-serif;
	font-weight: 300;
	font-size:16px;
	line-height: 1.62em;
	float: left;
	width:100%;
	list-style-type: none;
}
#WorkSpacing {
	margin-bottom: 35px;
}
.WorkThird a {
	background-color: #333;
	width: 33.33%;
	float: left;
	text-align: center;
	padding: 18px 0 0 0;
}
.WorkTitle {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	font-size: 1.25em;
	letter-spacing: .04em;
	color: white;
}
.WorkDesc {
	font-family: 'Roboto Slab', sans-serif;
	font-weight: 300;
	font-size: 1em;
	color: #86754D;
}
.WorkImg {
	padding: none;
	width: 100%;
	margin: 20px 0 0 0;
}
#ProjectIntro{
	margin: 50px auto;
}
.ProjectDesc{
	font-size: 1.5em;
	font-weight: 100;
	line-height: 1.7em;
	color: #86754D;
}
.ProjectImg {
	width: 100%;
}
.ProjectImg img {
	width: 100%;
}
.ProjectImgSpace{
	margin: 9px 0 0 0;
}
.PAccents {
	font-family: 'roboto slab', san-serif;
	font-weight: 400;
}
.Contact h1 {
	margin: 100px 0 20px 0;
}
.Contact p {
	margin-bottom: 100px;
}
.MoreWork {
	margin: 40px 0 60px 0;
}
footer p {
	text-align: center;
	font-size: .75em;
	color: white;
	background-color: #333;
	width: 100%;
	padding: 10 0;
}
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

/* Responsive: */
@media only screen and (min-width: 769px) and (max-width: 1000px) {
header.hero	{
	background:url("../images/MM_Landing_B.jpg") no-repeat center;	
	height: 90vh;
	background-size:100%;
}
.Work a {
	width: 50%;
}
.logo {
	margin-left: 50px;
	max-width: 70%;
}
nav a {
	font-size: .75em;
	padding-top: 1.25em;
}
.NavLink {
	margin-right: 30px;
}
}

@media only screen and (min-width: 700px) and (max-width: 768px) {
header.hero	{
	background:url("../images/MM_Landing_Vertical.jpg") no-repeat center;	
	height: 100vh;
	background-size: 100%;
	margin-top: 60px;
}
.Work a {
	width: 50%;
}
.logo {
	margin-left: 50px;
	max-width: 70%;
}
nav a {
	font-size: .75em;
	padding-top: 1.25em;
}
.NavLink {
	margin-right: 30px;
}
}

@media only screen and (min-width: 500px) and (max-width: 699px) {
header.hero	{
	background:url("../images/MM_Landing_Vertical_B.jpg") no-repeat center;	
	height: 100vh;
	background-size: cover;
	margin-top: 60px;
}
.logo {
	margin-left: 50px;
	max-width: 70%;
}
nav a {
	font-size: .75em;
	padding-top: 1.25em;
}
.NavLink {
	margin-right: 30px;
}
.Work a {
	width: 50%;
}
.WorkImg {
	margin-top: 8px;
}
.WorkThird a{
	padding-top: 10px;
}
.WorkTitle {
	font-size: 1em;
	letter-spacing: 0em;
}
.WorkDesc {
	font-size: .75em;
}
p {
	width: 70%;
}
}

/* Responsive: PORTRAIT smartphones */
@media only screen and (min-width: 320px) and (max-width: 499px){
header.hero	{
	background:url("../images/MM_Landing_Vertical_B.jpg") no-repeat center;	
	height: 60vh;
	background-size: cover;
	margin-top: 65px;
}
.logo {
	margin-left: 20px;
	max-width: 55%;
}
nav {
	padding: 15px 0 15px 0;
}
nav a {
	font-size: 2px;
	float: right;
	padding: 0;
}
.NavLink {
	margin-right: 0px;
}
.WorkThird a {
	text-align: center;
	clear: both;
	width:100%;
}
.WorkTitle {
	font-size: 1.25em;
	letter-spacing: 0em;
}
.WorkDesc {
	font-size: 1em;
}
p {
	width: 70%;
}
}

/* Responsive: LANDSCAPE smartphones + PORTRAIT small tablets */
/*@media only screen and (min-width: 480px) and (max-width: 639px) {
body {
	font-size: 14px;
}
.logo {
	margin-left: 20px;
	max-width: 60%;
}
nav {
	padding: 15px 0 15 0;
}
nav a {
	font-family: 'roboto slab', serif;
	font-size: 2px;
	float: left;
	text-decoration: none;
	padding: 0;
	color: #231F20;
}
.NavLink {
	margin-right: 0px;
}
header.hero{
	background-size: 100%;
	margin-top: 70px;
	height: 47vh;
}
h1 {
	font-size: 22px;
	line-height: 10px;
}
p {
	margin: 20px auto;
	width: 80%;
}
#WorkSpacing {
	margin: 30 0 30 0;
}
.AboutMe {
	padding: 20px 0; 
}
.WorkThird a {
	text-align: center;
	float: left;
	width: 49.99%;
}
.WorkTitle {
	font-size: 16px;
	padding: 10 0 10 0;
}
.WorkDesc {
	font-size: 14px;
}
.Contact h1 {
	margin: 50 0 20 0;
}
.Contact p {
	margin-bottom: 50;
	}
}*/
/* Responsive: PORTRAIT small tablets */
/*@media only screen and (min-width: 640px) and (max-width: 767px) {
body {
	font-size: 14px;
}
.logo {
	margin-left: 40px;
	max-width: 60%;
}
nav {
	padding: 15px 0 15 0;
}
nav a {
	font-family: 'roboto slab', serif;
	font-size: 10px;
	float: right;
	text-decoration: none;
	padding: 10 20 0 20;
	color: #231F20;
}
.NavLink {
	margin-right: 30px;
}
header.hero{
	background-size: 100%;
	margin-top: 70px;
	height: 55vh;
}
h1 {
	font-size: 22px;
	line-height: 10px;
}
p {
	margin: 20px auto;
	width: 70%;
}
#WorkSpacing {
	margin: 30 0 30 0;
}
.AboutMe {
	padding: 20px 0; 
}
.WorkThird a {
	text-align: center;
	float: left;
	width: 33.33%;
}
.WorkTitle {
	font-size: 14px;
	padding: 10 0 10 0;
}
.WorkDesc {
	font-size: 13px;
}
.Contact h1 {
	margin: 50 0 20 0;
}
.Contact p {
	margin-bottom: 50;
	}
}

/* Responsive: PORTRAIT tablets */
/*@media only screen and (min-width: 768px) and (max-width: 959px) {
	body {
	font-size: 14px;
}
.logo {
	margin-left: 40px;
	max-width: 60%;
}
nav {
	padding: 15px 0 15 0;
}
nav a {
	font-family: 'roboto slab', serif;
	font-size: 10px;
	float: right;
	text-decoration: none;
	padding: 10 20 0 20;
	color: #231F20;
}
.NavLink {
	margin-right: 30px;
}
header.hero{
	background-size: 100%;
	margin-top: 70px;
	height: 55vh;
}
h1 {
	font-size: 24px;
	line-height: 10px;
}
p {
	margin: 20px auto;
	width: 60%;
}
#WorkSpacing {
	margin: 30 0 30 0;
}
.AboutMe {
	padding: 20px 0; 
}
.WorkThird a {
	text-align: center;
	float: left;
	width: 33.33%;
}
.WorkTitle {
	font-size: 17px;
	padding: 10 0 10 0;
}
.WorkDesc {
	font-size: 15px;
}
.Contact h1 {
	margin: 50 0 20 0;
}
.Contact p {
	margin-bottom: 50;
	}
}

@media only screen and (min-width: 960px) and (max-width: 1023px) {
	header.hero{
	background-size: 100%;
	margin-top: 90px;
	height: 75vh;
	}
}*/

/* Responsive: LANDSCAPE tablets */
/*@media only screen and (min-width: 1024px) and (max-width: 1125px) {
	header.hero{
	background-size: 100%;
	margin-top: 90px;
	height: 80vh;
	}
}*/

/* Responsive: LAPTOPS */
/*@media only screen and (min-width: 1126px) and (max-width: 1555px) {
	header.hero{
	background-size: 100%;
	margin-top: 90px;
	height: 80vh;
	}
}*/

/*@media only screen and (min-width: 1556px) and (max-width: 1891px) {
	header.hero{
	background-size: 100%;
	margin-top: 90px;
	height: 125vh;
	}
}*/
