body {
	background-image: url("../images/stripes.png"), url("../images/background.jpg");
	background-repeat: repeat-x, no-repeat;
	background-position: left top, 0% 3%;
	}

hr {
	width: 25px;
	color: #ff706e;
	position: left;
	}

h1 { 
	font-family: helvetica;
	font-size: 20px;
	font-weight: lighter;
	color: white;
	}
