* { margin:0; padding:0; box-sizing:border-box; }
body {
	background-image: url("../images/stripes.png"), url("../images/background.jpg");
	background-repeat: repeat-x, no-repeat;
	background-size:auto, cover;
}
hr {
	width: 25px;
	border-color: #ff706e;
}
h1 { 
	font-family: helvetica;
	font-size: 20px;
	font-weight: lighter;
	color: #fff;
}
